<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza</title>
</head>
<body>
  <h1>Confira nossos sabores de pizza</h1>
  <p>As melhores pizzas da região</p>

  <!-- TAGS DO EJS -->

  <!-- percorrendo um array com o EJS -->
  <% for( pizza of pizzas) { %>
    <p> <%= pizza.nome %> </p>
    <p> <%= pizza.preco %> </p>
    <img src=<%= pizza.img %> alt="">  
  <% } %>

</body>
</html>